table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(1) {
  background-color:rgb(220, 255, 216);
}
tr:nth-child(2) {
  background-color:rgb(164, 241, 255);
}
tr:nth-child(3) {
  background-color:rgb(255, 174, 224);
}
tr:nth-child(4) {
  background-color:rgb(248, 255, 184);
}
tr:nth-child(5) {
  background-color:rgb(170, 240, 252);
}
tr:nth-child(6) {
  background-color:rgb(255, 237, 237);
}
td, th {
  padding: 8px;
  border: 1px solid #ffa2a2;
}
