* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}
nav {
    background-color: #c2e0ff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 200%;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #f5a86e;
    border-radius: 1px;
}

.description {
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: #ffffff;
}

.column {
    flex: 1;
    background-color: #ffffff;
    padding: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(172, 92, 92, 0.1);
}
.col1 {
    background-color: #f4d718;
}

.col2 {
    background-color: #2e77b6;
}

.col3 {
    background-color: #c52626dd;
}
.details {
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: #ffffff;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(64, 195, 86);
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px;
    font-size:200%;
}
